<h1>Introduksjon Pandas Python</h1>

<p><strong>Velkommen!</strong> Denne JuPyter notat vil lære deg hvordan du bruker <code>Pandas</code> i Python-programmeringsspråket. Ved slutten av denne økt vet du hvordan du bruker pakken <code>Pandas</code> for å se og få tilgang til data.</p>

<h2>Innhold</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li><a href="dataset">Om datamengden</a></li>
        <li><a href="pandas">Introduksjon til <code>Pandas</code></a></li>
        <li><a href="data">Se på data og få tilgang</a></li>
        <li><a href="quiz">Quiz om DataFrame</a></li>
    </ul>
    <p>
        Tidsbruk: <strong>15 min</strong>
    </p>
</div>

<hr>

<h2 id="dataset">Om datamengden</h2>

Vi skal jobbe med en eksempeldatamengde som har informasjon om forskjellige musikkalbum. Hver rad av tabellen inneholder informasjon om en album.

<ul>
    <li><b>artist</b>: Navn av kunstner</li>
    <li><b>album</b>: Navn av album</li>
    <li><b>released_year</b>: Utgittsår av album</li>
    <li><b>length_min_sec</b>: Lengde av album (timer,minutter,sekunder)</li>
    <li><b>genre</b>: Sjangre av album</li>
    <li><b>music_recording_sales_millions</b>: Salg av album (i million USD) fra <a href="http://www.song-database.com/">[SONG://DATABASE]</a></li>
    <li><b>claimed_sales_millions</b>: Angitt salg av album (i million USD) fra <a href="http://www.song-database.com/">[SONG://DATABASE]</a></li>
    <li><b>date_released</b>: Når ble album utgitt</li>
    <li><b>soundtrack</b>: Er det en del av en filmssoundtrack (Y) for Ja eller (N) for Nei</li>
    <li><b>rating_of_friends</b>: Vurdering av album fra venner (mellom 1 og 10)</li>
</ul>

Du kan se datamengden her:

<font size="1">
<table font-size:xx-small style="width:100%">
  <tr>
    <th>Artist</th>
    <th>Album</th> 
    <th>Released</th>
    <th>Length</th>
    <th>Genre</th> 
    <th>Music recording sales (millions)</th>
    <th>Claimed sales (millions)</th>
    <th>Released</th>
    <th>Soundtrack</th>
    <th>Rating (friends)</th>
  </tr>
  <tr>
    <td>Michael Jackson</td>
    <td>Thriller</td> 
    <td>1982</td>
    <td>00:42:19</td>
    <td>Pop, rock, R&B</td>
    <td>46</td>
    <td>65</td>
    <td>30-Nov-82</td>
    <td></td>
    <td>10.0</td>
  </tr>
  <tr>
    <td>AC/DC</td>
    <td>Back in Black</td> 
    <td>1980</td>
    <td>00:42:11</td>
    <td>Hard rock</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td></td>
    <td>8.5</td>
  </tr>
    <tr>
    <td>Pink Floyd</td>
    <td>The Dark Side of the Moon</td> 
    <td>1973</td>
    <td>00:42:49</td>
    <td>Progressive rock</td>
    <td>24.2</td>
    <td>45</td>
    <td>01-Mar-73</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Whitney Houston</td>
    <td>The Bodyguard</td> 
    <td>1992</td>
    <td>00:57:44</td>
    <td>Soundtrack/R&B, soul, pop</td>
    <td>26.1</td>
    <td>50</td>
    <td>25-Jul-80</td>
    <td>Y</td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Meat Loaf</td>
    <td>Bat Out of Hell</td> 
    <td>1977</td>
    <td>00:46:33</td>
    <td>Hard rock, progressive rock</td>
    <td>20.6</td>
    <td>43</td>
    <td>21-Oct-77</td>
    <td></td>
    <td>7.0</td>
  </tr>
    <tr>
    <td>Eagles</td>
    <td>Their Greatest Hits (1971-1975)</td> 
    <td>1976</td>
    <td>00:43:08</td>
    <td>Rock, soft rock, folk rock</td>
    <td>32.2</td>
    <td>42</td>
    <td>17-Feb-76</td>
    <td></td>
    <td>9.5</td>
  </tr>
    <tr>
    <td>Bee Gees</td>
    <td>Saturday Night Fever</td> 
    <td>1977</td>
    <td>1:15:54</td>
    <td>Disco</td>
    <td>20.6</td>
    <td>40</td>
    <td>15-Nov-77</td>
    <td>Y</td>
    <td>9.0</td>
  </tr>
    <tr>
    <td>Fleetwood Mac</td>
    <td>Rumours</td> 
    <td>1977</td>
    <td>00:40:01</td>
    <td>Soft rock</td>
    <td>27.9</td>
    <td>40</td>
    <td>04-Feb-77</td>
    <td></td>
    <td>9.5</td>
  </tr>
</table></font>

<h2 id="pandas">Introduction of <code>Pandas</code></h2>

Vi skal se nå på Pandas biblioteket. På en måte kan man si at Pandas leverer mange funksjoner som la en handtere med data som i vanlige programvare (f.eks. Microsoft Excel). Uansett har Pandas mange kommando som hjelper med alle mulige statistiske spørsmål man kunne ha.

In [1]:
# Importer Panda biblioteket

import pandas as pd

Etter importkommandoen har vi nå tilgang til et stort antall forhåndsbygde klasser og funksjoner fra Panda biblioteket. Pandas lar deg jobbe med data på en dataformat som kalles dataframe. La oss gå gjennom prosessen for å gå fra en typisk tekstfil som inneholder data delt med komma (en så kalt <b>.csv</b> fil) til en dataframe i Python. 
Først lager vi en ny variable <code>csv_path</code> som Pandas bruker for å laste ned <b>.csv</b> fra nett (faktisk følger det lenken og laster ned data fra en tabell på GitHub).  
Vi setter det inn i en ny kommano som heter <code>read_csv</code>. Resultatet lagres i objektet <code>df</code>, dette er en vanlig kortform som brukes for en variabel som refererer til en Pandas dataframe.

In [2]:
# Read data from CSV file

csv_path = 'https://github.com/ASchmeding/Intro-2-Python-norsk/blob/main/Datafiles/TopSellingAlbums.csv?raw=true'
df = pd.read_csv(csv_path)

Etter vi har lasted inn data kan vi bruke metoden <code>head()</code> for å se på de første fem rad i dataframe (nyttig for å få en oversikt om data som fins i et dataframe):

In [3]:
# Skriv ut de første fem rad av et dataframe på skjermen

df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,0:42:19,"pop, rock, R&B",46.0,65,30-Nov-82,NaN,10.0
1,AC/DC,Back in Black,1980,0:42:11,hard rock,26.1,50,25-Jul-80,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,0:42:49,progressive rock,24.2,45,01-Mar-73,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,0:57:44,"R&B, soul, pop",27.4,44,17-Nov-92,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,0:46:33,"hard rock, progressive rock",20.6,43,21-Oct-77,NaN,8.0

In [4]:
#Om du vil lagre arbeiden din som en .csv kan vi bruke
#to_csv metoden som lagrer en dataframe som en csv fil
df.to_csv('TopSellingAlbums.csv')

Vi kan også laste inn filer som ble lagd med Microsoft Excel ved å bruke Pandas <code>read_excel</code> metode. Desverre er det litt mer komplisert å laste ned en excel fil fra nett slik at Python kan bruke det (vi importerer de nødvendige programbiblioteker i neste cellen). Det er ikke nødvendig å bryr seg om detaljene om hvorfor vi må gjøre det komplisert på den måten (grunnet har noe å gjøre med hvordan pandas bruker et annet programbibliotek som heter XLRD og vi skal ikke se nærmere på det):

In [5]:
#Importer noen programkode for å laste inn Excel .xlsx filer fra nett. Dette er overflodig hvis filene ligger alrede
#i mappen på din datamaskin
import requests as rq
from io import BytesIO

Nå kan vi laste ned en excel .xlsx fil og laste den inn i Pandas. Resultatet er igjen en dataframe som før og vi skal se på første linjer i dataframe igjen:

In [6]:
# Last inn data fra Excel fil og skriv ut de første fem rader

xlsx_path = 'https://github.com/ASchmeding/Intro-2-Python-norsk/blob/main/Datafiles/TopSellingAlbums.xlsx?raw=true'

excel_data = rq.get(xlsx_path).content
df = pd.read_excel(BytesIO(excel_data))
df.head()

,Artist,Album,Released,Length,Genre,Music Recording Sales (millions),Claimed Sales (millions),Released.1,Soundtrack,Rating
0,Michael Jackson,Thriller,1982,00:42:19,"pop, rock, R&B",46.0,65,1982-11-30,NaN,10.0
1,AC/DC,Back in Black,1980,00:42:11,hard rock,26.1,50,1980-07-25,NaN,9.5
2,Pink Floyd,The Dark Side of the Moon,1973,00:42:49,progressive rock,24.2,45,1973-03-01,NaN,9.0
3,Whitney Houston,The Bodyguard,1992,00:57:44,"R&B, soul, pop",27.4,44,1992-11-17,Y,8.5
4,Meat Loaf,Bat Out of Hell,1977,00:46:33,"hard rock, progressive rock",20.6,43,1977-10-21,NaN,8.0

Dataframes er den grunnleggende enhet Pandas er byggd på. De innholder dataen vi ønsker å jobbe med og vi kan får pågrep på data ved bruk av kommando fra panda biblioteket. La oss først vise hvordan vi kan få pågrep på kolonnen <b>Length</b> fra datamengden og lage den som en ny dataframe <b>x</b>:

In [7]:
# Lagre en kolonne som en ny dataframe (OBS: Vi kan få pågrep på kolonner ved å bruke
# strengen med navn til kolonnen) OBS: vi bruker dobbel hakeparenteser!

x = df[['Length']]
x

     Length
0  00:42:19
1  00:42:11
2  00:42:49
3  00:57:44
4  00:46:33
5  00:43:08
6  01:15:54
7  00:40:01

 Prosessen er illustrert i følgende figur:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Images/DataEgOne.png" width="750" />

<hr>

<h2 id="data">Se på Data og får tilgang til Data</h2>

Den kolonne vi ekstraherte som sin egen dataframe kan vi også ekstrahere som en en så kallt "series" i pandas. Det er enklest å tenke om en series i Pandas som en 1-D dataframe (men den behandles internt forskjellig). Kommandoen til å omdanne en kolonne til en series er (motsatt til å ekstrahere en kolonne som dataframe) kommandoen du ser nede med ett hakeparentes:

In [5]:
# Ekstraher kolonnen "Length" som en Pandas series

x = df['Length'] #Bare en par hakeparenteser den gangen!
x                #Sjekk at Python presenterer series forskjellig fra dataframes

0    0:42:19
1    0:42:11
2    0:42:49
3    0:57:44
4    0:46:33
5    0:43:08
6    1:15:54
7    0:40:01
Name: Length, dtype: object

Hvis vi sammenlikner igjen med en kolonne ekstraher som en dataframe, ser vi at det har forskjellig type. For eksempel, hvis vi ser på kolonnen <b>Artist</b>, ekstraherer den som en dataframe og sjekk typen til objektet:

In [8]:
# Type av en kolonne som ekstraheres som sitt egen dataframe (sammenlikn igjen med series over)

x = type(df[['Artist']])
print(x)

<class 'pandas.core.frame.DataFrame'>

Man kna gjøre samme prosessen med flere kolonner samtidig; For dette ta navn til dataframe, dvs. <code>df</code>, og gi det en liste av navnene til kolonner i dobbelte par av hakeparentser. Resultatet blir en ny dataframe som består av de kolonner vi har valgt:

In [9]:
# Pågrep på flere kolonner samtidig

y = df[['Artist','Length','Genre']]
y

            Artist    Length                        Genre
0  Michael Jackson  00:42:19               pop, rock, R&B
1            AC/DC  00:42:11                    hard rock
2       Pink Floyd  00:42:49             progressive rock
3  Whitney Houston  00:57:44               R&B, soul, pop
4        Meat Loaf  00:46:33  hard rock, progressive rock
5           Eagles  00:43:08   rock, soft rock, folk rock
6         Bee Gees  01:15:54                        disco
7    Fleetwood Mac  00:40:01                    soft rock

Igjen illustreres prosessen i neste bildet.

<img src = "https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%204/Images/DataEgTwo.png" width="1100" />

Vi har lært nå hvordan vi kan jobbe med kolonner, men ofte ville vi istedet jobbe med elementene som ligger i cellene av tabellen. For å få pågrep på disse kan vi bruke metoden <code>iloc</code>. La oss se på ett eksempel hvor vi ville pågrepe på cellen i første rad og første kolonne:

In [8]:
# Pågrep på verdien lagret i første rad og første kolonne

df.iloc[0, 0]

'Michael Jackson'

Igjen teller Python fra null. Hvis vi leter etter verdien som ligger i andre rad og første kolonne gjør vi liknende:

In [10]:
# Verdi i andre rad og første kolonne

df.iloc[1,0]

'AC/DC'

Hvis vi endrer den andre indeks istedet av den første, kan vi pågrepe på andre kolonner. FOr eksempel den verdien som ligger i første rad og tredje kolonne:

In [0]:
# Verid i første råd og tredje kolonne

df.iloc[0,2]

Man kan få pågrep på kolonner ved bruk av navn til kolonner. Vi demonstrerer det nå:

In [11]:
# Pågrep på en kolonne ved bruk av navn til kolonnen

df.loc[0, 'Artist']

'Michael Jackson'

In [12]:
# Vi prøver igjen men vil nå få verdien fra andre rad

df.loc[1, 'Artist']

'AC/DC'

In [13]:
# Selvfølgelig kan vi endre kolonnen ved bruk av andre navner

df.loc[0, 'Released']

1982

In [14]:
# Igjen pågrep på andre rad i dataframe i kolonne 'Released'

df.loc[1, 'Released']

1980

Som med listene er det mulig å bruke skjæring ved dataframes:

In [15]:
# Skjæring den dataframe

df.iloc[0:2, 0:3]

            Artist          Album  Released
0  Michael Jackson       Thriller      1982
1            AC/DC  Back in Black      1980

In [16]:
# Skjæring ved bruk av navnene til kolonner

df.loc[0:2, 'Artist':'Released']

            Artist                      Album  Released
0  Michael Jackson                   Thriller      1982
1            AC/DC              Back in Black      1980
2       Pink Floyd  The Dark Side of the Moon      1973

<hr>

<h2 id="quiz">Quiz om DataFrame</h2>

Bruk en variabel <code>q</code> for å lagre kolonnen <b>Rating</b> som en dataframe

In [17]:
# Skriv din kode og trykk på Shift+Enter for å teste

Dobbelt-klikk __her__ for løsningsforslag.

<!-- Ditt svar fins her:
q = df[['Rating']]
q
-->

Lag en ny variabel <code>q</code> som inneholder en dataframe med kolonner <b>Released</b> og <b>Artist</b>:

In [0]:
# Skriv din kode og trykk på Shift+Enter for å teste

Dobbelt-klikk __her__ for løsningsforslag.

<!-- Ditt svar fins her:
q = df[['Released', 'Artist']]
q
-->

Få oågrep på verdien i andre rad og tredje kolonne av <code>df</code>:

In [0]:
# Skriv din kode og trykk på Shift+Enter for å teste

Dobbelt-klikk __her__ for løsningsforslag.

<!-- Ditt svar fins her:
df.iloc[1, 2]
-->

<hr>

The present document is based on the <a href="https://cognitiveclass.ai/courses/python-for-data-science">IBM cognitive class "Python for data science</a>. 
<p>Copyright &copy; Copyright Nord University 2021. This notebook and its source code are released under the terms of the <a href="https://opensource.org/licenses/MIT">MIT License</a>.</p>