<h1>Typene i Python</h1>

<p><strong>Velkommen!</strong> Denne notatboka skal vise deg forskjellige typer av objekter i Python programmeringsspråk. Ved slutten av denne notatboken vil du vite de grunnleggende typene som fins i Python. Siden Python er et programmeringsspråk som baserer på engelsk skal vi også bruke engelske begrep (siden det er enklere å finne dem på nettet hvis du leter etter mer informasjon)</p>

<h2>Innhold</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#types_objects">Typene objekter i Python</a>
            <ul>
                <li><a href="int">Integers (Heltall)</a></li>
                <li><a href="float">Floats (kommatall)</a></li>
                <li><a href="convert">Konvertering fra én objekttype til en annen objekttype</a></li>
                <li><a href="bool">Boolean data type (Boolsk datatype)</a></li>
                <li><a href="exer_type">Oppgave: Typene</a></li>
            </ul>
        </li>
    </ul>
    <p>
        Tidsbruk: <strong>10 min</strong>
    </p>
</div>

<hr>

<h2 id="types_objects" align="center">Typene objekter i Python</h2>

<p>Python er et objektorientert språk. Det er mange forskjellige typer objekter i Python. La oss starte med de vanligste objekttypene: <i>strings</i> (<i>streng</i>), <i>integers</i> (<i>heltall</i>) og <i>floats</i> (<i>kommatall</i>). Hver gang du skriver ord (tekst) i Python, bruker du <i>character strings</i> (kort strings (eller **strenger** på norsk)). 
De vanligste tallene er derimot <i>integers</i> (f.eks. -1, 0, 100) og <i>floats</i>, som representerer reell tall (f.eks. 3.14, -42.0).</p>

<a align="center">
    <img src="https://github.com/ASchmeding/Intro-2-Python-norsk/blob/main/Images/TypesObjects.png?raw=true" width="600">
</a>

<p>
Følgende kodeceller inneholder noen eksempler.</p>

In [ ]:
# Integer (Heltall)

11

In [ ]:
# Float (kommatall, men brukes punkt i stedet av komma)

2.14

In [ ]:
# String (streng)

"Hallo, Python 101!"

<p> Legg  merke til at Python markerer ulike typer med ulik farge.
Du kan få Python til å fortelle deg typen uttrykk ved å bruke den innebygde<code>type()</code> funksjon. Du vil legge merke til at Python refererer til integers (heltall) som <code>int</code>, floats som <code>float</code>, og strenger som <code>str</code>. </p>

In [ ]:
# Type av 12

type(12)

In [ ]:
# Type av 2.14

type(2.14)

In [ ]:
# Type av "Hallo, Python 101!"

type("Hallo, Python 101!")

<p>Prøv i kodecellen nede å bruke <code>type()</code> funksjon for å sjekke typen av <code>12.0</code>. Hva er forskjellen til typen av $12$ vi har prøvd over?

In [ ]:
# Skriv koden din under. Ikke glem å trykke Shift+Enter for å kjøre kode

Dobbeltklikk __har__ for løsning.

<!-- Din løsnign står under:

type(12.0)

-->

<h3 id="int">Integers (Heltall)</h3>

<p>Her er noen eksempler på heltall. Heltall kan være negative eller positive tall:</p>

<a align="center">
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/TypesInt.png" width="600">
</a>

<p>Vi kan bekrefte at dette er tilfellet ved å bruke <code>type()</code> funksjon:

In [ ]:
# Skriv ut type av -1

type(-1)

In [ ]:
# Skriv ut type av 4

type(4)

In [ ]:
# Skriv ut type av 0

type(0)

<h3 id="float">Floats (Kommatall)</h3>

<p>Floats (kommatall) representerer reelle tall; de inkluderer alle heltall, men også "tall med desimaler". Det er noen begrensninger maskiner, som datamaskiner, har når det kommer til å representere kommatall. 
Hovedpoeng er at en datamaskin er en maskin byggd av mennesker og dermed klarer det bare å handtere med endelig mange tall og sifrer. Med andre ord, det er bare endelig mange sifrer en datamaskin husker å minne når den handteres med tall.
For alt som skjer i skolen er floats en god nok representasjon. Du kan lære mer om detaljene til floats for "runtime environment" (dvs. datamaskinen og programvare du bruker på den) ditt ved å sjekke verdien av <code>sys.float_info</code>. Dette vil også fortelle deg hva som er det største og minste tallet som kan representeres med dem.</p>

<p>Igjen la oss teste noen eksempler med <code>type()</code> funksjon:

In [ ]:
# Skriv ut type av 1.0

type(1.0) # Legg merke til 1 er en int, og 1.0 er en float

In [ ]:
# Skriv ut type av 0.5

type(0.5)

In [ ]:
# Skriv ut type av 0.56

type(0.56)

In [ ]:
# Systeminnstillinger for float type

import sys 
sys.float_info

Vi kan få mye informasjonen fra <code>float_info</code>. Som utgangspunktet er kanskje de to viktigste informasjoner som fins i utskrift på skjermen de to tall <code>max=</code> som angir hva det største tallet er som datamaskinen din klarer å beskrive og <code>epsilon=</code> som angir hvor stor forskjellen er mellom tallet $1$ og nest største tall som Python klarer å skille fra $1$. Matematiker liker å betegne tall som er veldig lite med den greske bokstav epsilon.
OBS: Begge tallene angis i vitenskapelig notasjon ved hjelp av eksponential som skrives som $a e+x$ (eller $e-x$). I denne fremstilling er betydning at tallet $a$ ganges med $e^x$ (eller $e^{-x}$).

<h3 id="convert">Konvertering fra én objekttype til en annen objekttype</h3>

<p>Du kan endre typen på objektet i Python; dette kalles typecasting. For eksempel, kan vi konvertere <i>integer</i> til <i>float</i> (f.eks. 2 til 2.0).</p>
<p>La oss prøve det:</p>

In [ ]:
# Sjekk at dette er en integer

type(2)

<h4>Konvertering av integers til floats</h4>
<p>La oss konvertere integer 2 til float:</p>

In [ ]:
# Konverter 2 til float

float(2)

In [ ]:
# Konverter integer 2 til en float og sjekk type

type(float(2))

<p>Når vi konverterer et integer til en float, endrer vi egentlig ikke verdien til tallet. Men hvis vi konverterer en float til et integer, kan vi potensielt miste noe informasjon. For eksempel, hvis vi konverterer float 1.1 til integer, får vi 1 og mister desimalinformasjonen (dvs., 0.1):</p>

In [ ]:
# Konvertering av 1.1 til integer vil føre til tap av informasjon

int(1.1)

<h4>Konvertering fra string til integer eller floats</h4>

<p>Noen ganger kan vi ha en string (streng) som inneholder et tall i den. Hvis dette er tilfelle, kan vi konvertere den strengen som representerer et tall inn i et heltall ved å bruke <code>int()</code>:</p>

In [ ]:
# Konverter en string til et integer

int('1') #'1' for Python er det et ord, dvs. en streng som innholder tegn 1

<p>Men hvis du prøver å gjøre det med en streng som ikke passer perfekt til et tall, får du en feilmelding. Prøv følgende:</p>

In [ ]:
# Konverter en string til et integer med feil
int('1 or 2 people')

<p>Du kan også konvertere strenger som inneholder flyttall til <i>float</i> objekter:</p>

In [ ]:
# Konverter strengen "1.2" til et float

float('1.2')

<div class="alert alert-success alertsuccess" style="margin-top: 20px">
    [Tipp:] Merk at strenger kan representeres med enkle anførselstegn (<code>'1.2'</code>) eller doble anførselstegn (<code>"1.2"</code>), men du kan ikke blande begge (f.eks., <code>"1.2'</code>).
</div>

<h4>Konvertering tall til strenger</h4>

<p>Hvis vi kan konvertere strenger til tall, er det vel naturlig å anta at vi kan konvertere tall til strenger?</p>

In [ ]:
# Konverter et integer til en streng

str(1)

<p>Og det er ingen grunn til at vi ikke skal kunne lage floats til strenger også:</p>

In [ ]:
# Konverter et float til en streng

str(1.2)

<h3 id="bool">Boolean data type (Boolsk datatype)</h3>

<p><i>Boolean</i> er en annen viktig type i Python. Et objekt av typen <i>Boolean</i> 
kan ha en av to verdier: <code>True</code> (sant) eller <code>False</code> (usant):</p>

In [ ]:
# Verdi true

True

<p>Legg merke til at verdien <code>True</code> har en stor "T". Det samme gjelder for <code>False</code> (dvs. du må bruke stor "F").</p>

In [ ]:
# Verdi false

False

<p>
Når du spør Python for å vise typen av et boolsk objekt det vil vise <code>bool</code> som står for <i>boolean</i>:</p>

In [ ]:
# Type av True

type(True)

In [ ]:
# Type av False

type(False)

<p>Vi kan konvertere boolske objekter til andre datatyper. Hvis vi konverterer en boolsk med en verdi på <code>True</code> til et integer eller et float får vi ett en. Hvis vi konverterer en boolsk med en verdi på <code>False</code> til et integer eller et float får vi ett null. På samme måte, hvis vi konverterer 1 til Boolean, får vi <code>True</code>. Og hvis vi konverterer 0 til Boolean får vi <code>False</code>. La oss prøve det:</p>

In [ ]:
# Konverter True til int

int(True)

In [ ]:
# Konverter 1 til boolean

bool(1)

In [ ]:
# Konverter 0 til boolean

bool(0)

In [ ]:
# Konverter True til float

float(True)

<h3 id="exer_type">Oppgaver: Typene</h3>

<p>Hva er datatypen for resultatet av: <code>6 / 2</code>?</p>

In [ ]:
# Skriv koden din under. Ikke glem å trykke Shift+Enter for å kjøre koden.

Dobbeltklikk __har__ for løsning.

<!-- Din løsnign står under:
type(6/2) # float
-->

<p>Hva er datatypen for resultatet av: <code>6 // 2</code>? (Legg merke til dobbel skråstrek <code>//</code>.)</p>

In [ ]:
# Skriv koden din under. Ikke glem å trykke Shift+Enter for å kjøre koden.

Dobbeltklikk __har__ for løsning.

<!-- Din løsnign står under:
type(6//2) # int, dobbel skråstrek står for divisjon av heltall 
-->

The present document is based on the <a href="https://cognitiveclass.ai/courses/python-for-data-science">IBM cognitive class "Python for data science</a>. 
<p>Copyright &copy; Copyright Nord University 2021. This notebook and its source code are released under the terms of the <a href="https://opensource.org/licenses/MIT">MIT License</a>.</p>